
{% extends "base.html" %}

{% load static %}

{% block content %}

 {% load crispy_forms_tags %}

 <style>

.contenido{

margin-left: 150px;
margin-right: 150px;


}

 </style>

 <div class="contenido">

    <div class="">
    
   <h2 class="glyphicon glyphicon-pencil" ,style="text-align: center;">Editar</h2> 
  
     <div class="d-flex justify-content-end">

     <br>
     <a href="{% url 'perfil_usuario' %}", class="glyphicon glyphicon-circle-arrow-left", style="font-size: 32px;"></a>
  
    </div>
  <br>

  <form action="" method="post" , enctype="multipart/form-data">

    {% csrf_token %}
    {{ form | crispy }}
  
  <br>
  
     <div class="d-flex justify-content-end">

     <hr>
  
      <input type="submit", value="Guardar" , class="btn btn-primary">
      &nbsp 
      <input type="reset" value="Cancelar", class="btn btn-secundary">
    
     </div>
  
  
  </form>


</div>



 </div>

 

{% endblock %}  