

.menu {

 margin: 0;
 text-align: center;
 width: 1368px;

}


.menu div li {

 background: url(../design/header.png);
 float: left;
 height: 70px ;
 text-align: center;
 margin:0;

}

.menu div li a{

 color: white;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;

}

.footer{

float: left;
background-color: aqua;

}
























































