
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

 {% load static %}

<title>NOTICIAS</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet"  href="{% static 'frikis/css/main.css' %}" />
<link rel="stylesheet"  href="{% static 'frikis/css/skin.css' %}" />
<link rel="stylesheet"  href="{% static 'frikis/css/list.css' %}" />
<script type="text/javascript" src="{% static 'frikis/javascript/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'frikis/javascript/font.font.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="main">
  <div id="header" class="box">
    <h1 id="logo"> Noticias <span>Frikis</span></h1>
    <ul id="nav">
      <li class="current"><a href="{% url 'inicio' %}">Homepage</a></li>
      <li><a href="{% url 'registro' %}">Registro</a></li>
      <li><a href="{% url 'creanews' %}">Cargar Noticias</a></li>

      {% if user.is_authenticated %}

       <li><a href="{% url 'logout'  %}">Cerrar sesion</a></li>

       <li><a href="#">@{{ user.username }}</a></li>
      
      {% else % }

       <li><a href="{% url 'login'  %}">Iniciar sesion</a> </li>

      {% endif %}
    </ul>
  </div>
  
{% block content %} {% endblock %}

</body>

</html>
