{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

  .title{

  text-align: center;
  margin: 0;
  color: white;
  background: url({% static 'design/header.png' %}) 50% 0 ;
  height: auto;
  


  }

 .contenido{
   margin: 70px;
   margin-left: 10%;
   font-size: 18px;
   text-align: left;
   border-style: dotted;

 }
 
 .contenido span{

 font-weight: bold;

 }


.parrafo{

  margin: 50px;
  margin-left: 0px;
  padding-left: 5%;
  border-style: dotted;
  
  

}

.parrafo h5 {

  margin: 50px;
  font-size: 16px;
  margin-left: 12px;
  padding-left: 10%;

}

.text {

margin: 10px;
font-size: 14px;
padding-left: 0%;

}

</style>
    
    <div class="title">
      <h1 class=""> Acerca del Blog</h1>
    </div>

    <div class="contenido">
    
     <span> Nombre: </span> Frikis News
     <br>
     <span> ¿De que se trata?:</span>
     <br>
     <p> Blog pensado para que los usuarios carguen pequeñas noticias sobre el mundo de frikis.</p>
     <span> Redes Sociales:</span> 
     <br>
     Instagram: @frikisenelaire
     <br>
     Mail: frikisenelaire@gmail.com

    </div>
    

{% endblock %}