
{% extends "registration/base.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
</head>
<body>

  
{% block content %}  

{% load crispy_forms_tags %}

<div class="container">

  <div class="row">

   <div class="col-12 col-md-6 offset-md-3">

   <h2>Ingresar tus credenciales</h2>
   <hr>
   <form action="" method="post">

   {% csrf_token %}
 
   {{ form | crispy }}
 
   <hr>
   <input type="submit" , class="btn btn-primary" , value="Ingresar">

   <a href="{% url 'inicio' %}">ir al home</a>

  </div>

  </form>

</div>

{% endblock %}